<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row my-4">
        <div class="col-12 text-right"> <!-- Add the "text-right" class here -->
            <button class="btn btn-danger" onclick="logout()">Logout</button>
        </div>
    </div>
    
    <div class="container text-center mt-5">
        <h1>Welcome to your Dashboard!</h1>
    </div>

    <script>
        function logout() {
            window.location.href = "{% url 'logout' %}";
        }
    </script>
</body>